/lesson 1
/lesson 2
/lesson 3/01-HTML5_Introduction, Common Tags, HTML Standard.pptx
/lesson 3/02-HTML5_Tables, Lists, Semantic markup.pptx
/lesson 4/if_loops_functions.pptx
/lesson 4/JSVariables.pptx
/lesson 5
/lesson 6 OOP/GMT20200326-063012_Mykhailo-O_1920x1080.mp4
/lesson 6 OOP/GMT20200326-063012_Mykhailo-O.m4a